{% extends 'User/base.html' %}
{% load staticfiles %}
{% block style_js %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'User/css/publish_style.css' %}">
{% endblock %}
{% block body %}
    <div id="page">
        <form action="" method="post">
            <input name="title" type="text" class="title-text" placeholder="Title">
            <textarea name="body" class="main-content" placeholder="Tell your story..."></textarea>
            <button class="publish-button">Publish</button>
            <button class="publish-button upload">Upload Pic</button>
        </form>
        <div style="height: 100px;"></div>
    </div>
{% endblock %}